PORT=5000
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/travel_planner
JWT_ACCESS_SECRET=jwt_access
JWT_REFRESH_SECRET=jwt_refresh
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
